vendor(prop,args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    -o-{prop} args
    {prop} args

transform()
	vendor( 'transform', arguments )

animation-iteration-count(  )
	vendor( 'animation-iteration-count', arguments)

transform-origin(  )
	vendor( 'transform-origin', arguments)

animation(  )
	vendor( 'animation', arguments)

transform-style()
	vendor( 'transform-style', arguments )
	
backface-visibility()
	vendor( 'backface-visibility' , arguments )
	
opacity( n )
	opacity n
	if n<1
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')
	else
		filter none