body
   font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight 300
   background background
   color copy

h1,h2,h3,h4
	color primary
	

.page
	padding 50px
	

a,a:visited,a:hover
	color black
	
.btn,button
	display inline-block
	border none
	outline none
	background secondary
	padding 6px 10px
	margin 5px
	

a.btn
	text-decoration none
	
#sprite-canvas
	position absolute
	top -20px
	left 85px
	animation movetrack 7.6s linear
	
@keyframes movetrack 
	from{top: -20px}
	to{top: -7px}

	
#sprite-sidetrack0
	position absolute
	top 0px
	left 0px
	
#sprite-sidetrack1
	-ms-transform: scale(-1,1) translate(-50%,0%); /* IE 9 */
	-webkit-transform: scale(-1,1) translate(-50%,0%); /* Chrome, Safari, Opera */
	transform: scale(-1,1) translate(-50%,0%);


#sprite-sidetrack3
	-ms-transform: scale(-1,1); /* IE 9 */
	-webkit-transform: scale(-1,1); /* Chrome, Safari, Opera */
	transform: scale(-1,1);
	