extends ./layout.jade

block meta
    title Home
    
block content
    .page
        h1 Controller
        a.btn(href="spriteAnimation.html") Sprite Animation Background
        a.btn(href="spriteAnimationCanvas.html") Sprite Animation Canvas
