doctype html

html
  head
    title Sprite Test's
    // build:css styles/main.css
    link(rel="stylesheet" href="styles/main.css")
    // endbuild
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    block meta
    //- script(type="text/javascript" src="http://ds.serving-sys.com/BurstingScript/EBLoader.js")

    <!--[if IE 9]>
    <script type="text/javascript">
    | window.isIE9 = true;
    </script>
    <![endif]-->
  body

    block content
   

