extends ./layout.jade

block meta
	title Home
	
block content
	.page
		#sprite(data-sprite="images/spritesheet.png" data-sprite-strategy="background" data-sprite-delay="10"  data-sprite-fps="18" data-sprite-size="300x250")
				
		//build:js scripts/SpriteAnimation.js
		script(type="text/javascript" src="scripts/SpriteAnimation.js")
		//endbuild

		script.
			new SpriteAnimation( document.getElementById( 'sprite'))