extends ./layout.jade

block meta
	title Home
	
block content
	.page
		#sprite-canvas(data-sprite="images/spritesheet.jpg" data-sprite-delay="10" data-sprite-strategy="canvas" data-sprite-fps="18" data-sprite-size="125x250")
		
		#sprite-sidetrack0(data-sprite="images/sprite_big.jpg" data-sprite-delay="10" data-sprite-strategy="canvas" data-sprite-fps="18" data-sprite-size="300x94")
		#sprite-sidetrack1(data-sprite="images/spritesheet_02.png" data-sprite-delay="10" data-sprite-strategy="canvas" data-sprite-fps="18" data-sprite-size="163x93")
		#sprite-sidetrack2(data-sprite="images/spritesheet_02.png" data-sprite-delay="10" data-sprite-strategy="canvas" data-sprite-fps="18" data-sprite-size="163x93")
		#sprite-sidetrack3(data-sprite="images/spritesheet_02.png" data-sprite-delay="10" data-sprite-strategy="canvas" data-sprite-fps="18" data-sprite-size="163x93")
			
		//build:js scripts/SpriteAnimation.js
		script(type="text/javascript" src="scripts/SpriteAnimation.js")
		//endbuild

		script.
			new SpriteAnimation( document.getElementById( 'sprite-canvas'))
			new SpriteAnimation( document.getElementById( 'sprite-sidetrack0'))
			//new SpriteAnimation( document.getElementById( 'sprite-sidetrack1'))
			//new SpriteAnimation( document.getElementById( 'sprite-sidetrack2'))
			//new SpriteAnimation( document.getElementById( 'sprite-sidetrack3'))
